[Unit]
Description=BlueAlsa-Aplay %I -dhw:0,0
Requires=bluetooth.service bluealsa.service
[Service]
Type=simple
User=pi
Group=audio
ExecStart=/usr/bin/bluealsa-aplay %I -dhw:0,0
[Install]
WantedBy=multi-user.target
